/* los colores los extraje de https://colorhunt.co/palette/4c3a51774360b25068e7ab79 */
a:link {color:#B25068; text-decoration: none;}
a:visited {color:#B25068; text-decoration: none;}
a:hover {color: #f8d3b4;text-decoration: none;}

/*ESTILO BASE*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E7AB79;


}
h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.gridBase {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100vh;
}

.logoBig iframe{
    
    grid-row: 1/2;
    grid-column: 1/1;
    top: 0px;
    height: 100vh;
    width: 100vmax;
}

/*ESTILO INDEX*/

.Lamina2 {
    background-image: url('../assets/img/Lamina2.png');
    background-repeat: no-repeat;
    background-size: auto;
    grid-row: 2/3;
    grid-column: 1/1;
    height: 100vh;
    width: 100vmax;
    display: flex;
    flex-direction: column;

}

.Lamina2 h1 {
    padding-left: 80%;
    padding-top: 20%;
    color: #E7AB79;


}

#tablaConCírculos {
    background: url('../assets/img/cobo_background.png') #000;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100vh;
}

.tablaInterna {
    color: #f8d3b4;
    font-size: large;
    display: inline-flexbox;
    flex-flow: row;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 5px;
 
}

.logos {
    width: 300px;
    object-fit:cover;
    justify-content: center;
    padding: 5px;
}

#tablaHitMeUp {
    color: white;
    background-color: black;
    }

/*ESTILO WORK*/
#cuadricula {
    display: inline-block;
    padding: 10px;
}

#cuadricula img {
    height: auto;
    width: 400px;
}


#tabla_bio {
    margin-left: 400px;
    margin-right: 400px;
    display: inline-block;
    padding: 5px;;
}

#bio2 {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px; 
}

#table_form {
    font-family: 'Nunito', sans-serif;
    background-color: #B25068;
    text-align: left;
    color: azure;
    margin-left: 400px;
    margin-right: 400px; 
    display:block;

}

#footer {
    font-size: 14px;
    background-color: #4C3A51;
    color: #E7AB79;
    position: relative;
    padding: 4px;
}