/* los colores los extraje de https://colorhunt.co/palette/4c3a51774360b25068e7ab79 */
a:link {color:#B25068; text-decoration: none;}
a:visited {color:#B25068; text-decoration: none;}
a:hover {color: #f8d3b4;text-decoration: none;}

/*---------ESTILO BASE----------------------*/
* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f8d3b4;
}
/*--------INDEX--------------------*/
/*MOBILE VIEW*/
@media (min-width: 700px) {
    .navSmall {
        height: 50px;    
    }
}

/*DESKTOP VIEW*/
iframe {
    align-items: center;
    grid-row: auto;
    width: 100vmax;
    height: 130px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.gridBase {
    display: grid;
    align-items: center;
    justify-items: center;
}


#tablaHitMeUp {
    color: white;
    background-color: black;
    }

/*ESTILO WORK*/
#cuadricula {
    display: inline-block;
    padding: 10px;
}

#cuadricula img {
    height: auto;
    width: 400px;
}

/*----------------BIO----------------------*/
#tabla_bio {
    margin-left: 400px;
    margin-right: 400px;
    display: inline-block;
    padding: 5px;;
}

#bio2 {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px; 
}

#table_form {
    font-family: 'Nunito', sans-serif;
    background-color: #B25068;
    text-align: left;
    color: azure;
    margin-left: 400px;
    margin-right: 400px; 
    display:block;

}
/*-----------------FOOTER--------------------*/
.footer {
    position: relative;
    bottom: 0;
    width: 100vmax;
    height: 20px;
    height: fit-content;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    background-color: #0e0b0f;
    color: #E7AB79;
}